body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff
}

.button {
  font: inherit;
  border: none;
  background-color: transparent;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 0;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.main-navigation {
  display: flex;
}

.site-navigation-list,
.subnavigation-list,
.user-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-list {
  width: 349px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
}

.site-navigation-item a {
  font-size: 16px;
  line-height: 18px;

  text-decoration-line: underline;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  color: #323232;
  background-color: #f7f6f3;
  text-decoration-line: none;
}

/*временное отключение*/
.subnavigation-list {
  display: none;
}

.subnavigation-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration-line: none;
}

.user-navigation-list {
  width: 265px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}

.user-navigation-list li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-navigation-item form {
  display: none;
}

/*временное отключение*/
.search-form,
.login-form {
  display: none;
}

.new-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration-line: none;
}

.subnavigation-item a:hover,
.subnavigation-item a:focus {
  color: #323232;
  background-color: #fbded7
}

.header-info {
  position: absolute;
  top: 100%;
  right: 0px;
}

.working-info {
  font-size: 14px;
  line-height: 16px;
}

.telephone-number {
  font-size: 22px;
}

.slider-list {
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item-brulee-raspberry {
  display: block;
}

.slider-item .button {
  font-size: 32px;
  line-height: 44px;
  display: block;
  width: 264px;
  margin: 0 auto;
}

.sales-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sales-list p {
  font-size: 18px;
  line-height: 22px;
}

.sales-item {
  width: 560px;
}

.sales-list b {
  font-size: 35px;
  line-height: 41px;
}

.sales-item-respberry {
  background-color: #820323;
  background-image: url(../img/rasp-background.jpg);
}

.sales-item-shoko {
  background-color: #855f4f;
  background-image: url(../img/choko-background.jpg);
}

.popular {
  margin-bottom: 41px;
}

.ice-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ice-item {
  width: 267px;
  text-align: center;
}

/*.ice-item {
  width: 293px;
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 14px;
  padding-top: 6px;
  text-align: center;
}
.ice-item:first-child {
  padding-left: 0;
}

.ice-item:nth-child(4n) {
  padding-right: 0;
}*/

.ice-item p {
  font-size: 45px;
  line-height: 45px;
}

.ice-item .item-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  display: block;
  text-decoration-line: underline;
  text-align: center;
}

.ice-item .item-link:hover,
.ice-item .item-link:focus {
  color: #ffbc9e
}

.paginator {
  margin-top: 80px;
  text-align: end;
}

.about-us {
  color: #323232;
  background-color: #f0e4c8;
  background-image: url(../img/waffle-background.jpg);
  width: 1146px;
  height: 306px;
  margin-bottom: 40px;

  text-align: left;

  display: flex;
  flex-direction: column;
}

.about-us-description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 29px 112px 26px 21px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-us-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 480px;
  margin-bottom: 10px;
}

.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.blog-news {
  background-color: #ffffff;
  background-image: url(../img/blog-background.jpg);
  background-repeat: no-repeat;
  width: 560px;
}

.blog-news h3 {
  color: #323232;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  color: #323232;

  font-size: 24px;
  line-height: 30px;

  text-decoration-line: underline;
}

.blog-news a:hover,
.blog-news a:focus {
  color: #e84d37;
}

.subscribe {
  background-color: #f8f7f4;
  background-image: url(../img/subscribe-background.jpg);
  background-repeat: no-repeat;
  width: 560px;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts .container {
  position: relative;
}

.contacts-map img {
  display: block;
  margin: 0 auto;
}

.contact-info {
  background-color: #ffffff;
  position: absolute;
  right: 27px;
  top: 63px;
  width: 302px;
}

.contact {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232
}

.main-footer {
  display: flex;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.documents-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  margin-left: 450px;
}

.documents-list a:hover,
.documents-list a:focus {
  color: #ffbc9e
}

.documents-list a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  text-align: left;
}

.documents-item:first-child a {
  font-weight: 700;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

.text-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.text-copyright a {
  text-decoration-line: underline;
}

.text-copyright a:hover,
.text-copyright a:focus {
  color: #ffbc9e
}

.modal {
  color: #323232;
  background-color: #f8f7f4;
  display: none;
}

.link-form h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
